body {
    background: url(../imgs/bg.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    opacity: 0.95;
}

a {
    text-decoration: none;
}

#main {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
}

/*
#search{ 
}
.form-control{
    color: green;
    background-color: moccasin;
}
.form-inline .form-control{
    width: 92%;
}
*/

#slider {    
}

#nav {}

.bg-light {
    padding: 20px;
    background-color: #f00 !important;
}

.navbar {
    padding: 0px 25px;
}

.navbar-nav {}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    background-color: #fff;
    -webkit-transition: 1s;
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

.content {}

.link {
    float: right;
}

.link ul {}

.link ul li {}

.link ul li a {
    text-decoration: none;
}

.link ul li a:hover {}

#course {
    margin-bottom: 10px;
}

#course h1 {
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
}

#scroll-top {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
#scroll-top a{
    padding: 10px;
    background-color: #0000FF;
    text-decoration: none;
    color: #fff;   
}
.footer {
    font-size: 20px;
    margin: 0 auto;
    background: #FF0000;
    color: #fff;
    padding: 15px;
    text-align: center;

}

.footer p {
    margin-top: 10px;
}
.footer p i{
    margin-top: 5px; 
    padding: 10px;
    font-size: 30px;
    color: #54C2C1;
}
.social i{
    margin: 0 8px;
    color: #FFE593;
    padding: 25px;
    font-size: 30px;
    -webkit-transition: 0.5s;
    -webkit-transition: 1s;
    -webkit-transition: .3s;
    transition: .3s;
}
.social i:hover{
    color: #f00;
    background-color: #D1C3FA;
    border-radius: 80%;
}
