*{
    margin: 0;
    padding: 0;
}
body{}

p:before{
    content: 'Gelabi';
    color: greenyellow;
}
p.sec:before{
    content: 'Gelabi ';
    color: red;
    width: 30%;
}
p:after{
    content: 'Foysal ';
}