* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    position: relative;
}

body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 0, 0, .8);
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
}

.header {
    background-image: url("imgs/bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover cover;
    overflow: hidden;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    display: flex;
    transform: skew(0deg, -10deg) translateY(-120px);

}

.header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 0, 0, .7);
    z-index: 0;
}

.content {
    position: absolute;
    z-index: 1;
}

.header .content h2 {
    max-width: 100%;
    text-align: center;
    margin: 116px 386px;
    padding: 10px;
    color: greenyellow;
    font-size: 50px;
    text-shadow: 6px 3px 10px;
    transform: skew(0deg, 10deg);
}

.details {
    width: 100%;
    position: relative;
    z-index: 1;
    transform: skew(0deg, 10deg);

}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.details .one,
.details .two,
.details .three {
    width: 25%;
    height: 350px;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin: 200px auto 100px;
    overflow: hidden;
    background-color: rgba(255, 0, 0, .7);
}

.details .one,
.details .two,
.details .three {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.details .one,
.details .two,
.details .three {
    display: inline-block;
}

.details .one h1,
.details .one h3,
.details .one p {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
}

.details .two {}

.details .two img:first-child {
    margin-top: 20px;
    max-width: 100%;
    justify-content: center;
}

.details .three h4,
.details .three h5,
.details .three p {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2px;
}

.details .s {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 50%: -webkit-transition: 5s;
    transition: 5s;
}

.details .s:hover {
    bottom: 0;
    transform: translateY(-200px);
    )
}

.details .w {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 50%: -webkit-transition: 5s;
    transition: 5s;
}

.details .w:hover {
    transform: rotate(360deg);
}

.article {
    background-image: url("imgs/bd.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    transform: skew(0deg, -10deg) translateY(-120px);
}

.article {
    box-sizing: border-box;
}

.article:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 0, 0, .7);
    z-index: 0;
}

.article .first {
    position: relative;
    max-width: 80%;
    margin: 100px auto;
    z-index: 1;
    box-sizing: border-box;
    opacity: .77;
    font-weight: 500;
    transform: skew(0deg, 10deg);
}

.article .first h3,
.article .first p {
    margin-top: 40px;
    padding: 30px;
    background: #fff;
    opacity: .9;
}

.me {
    display: inline;
}

.me h2,
.me p,
.me address {
    position: relative;
    padding: 0px;
    margin-right: 80px;
    bottom: 60px;
    text-align: right;
    font-family: cursive;
    font-weight: 600;
    color: #fff;
    z-index: 1;
    font-size: 25px;
}

.me h2 {
    padding: 10px;
    font-size: 30px;
}

.me .social .f i {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 540px;
    padding: 25px;
    color: darkslategray;
    background-color: greenyellow;
    border-radius: 0px 30px;
    transition: .5s;
}

.me .social .y i {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 600px;
    padding: 35px;
    color: red;
    background-color: lawngreen;
    border-radius: 10px 150px;
    transition: .5s;
}

.me .social .z i {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 450px;
    padding: 35px;
    color: red;
    background-color: lawngreen;
    border-radius: 150px 10px;
    transition: .5s;
}
.social .line{
    height: 100px;
    border: 
}

.me .social .f i:hover,
.me .social .y i:hover,
.me .social .z i:hover {
    color: #190000;
    background-color: aquamarine;
}
