/* Variables colors*/
@main-color: #48a65b;
@secondary-color: #2c3e50;
@white-color: #eee;
@white-text-color: #f1f1f1;



/* HTML, body */
html, body { height: 100%; }

body {
    font-size: 16px;
    line-height: 1.7;
    color: @secondary-color;
    background-color: #fcfcfc;
}



/* Pattern and color overlay */
.section-pattern-overlay {
  width: 100%;
  height: 100%;
  background: url(http://fonline-reloaded.net/img/overlay.png);
  background-color: rgba(0, 0, 0, .8);

  color: @white-text-color;

  h1, h2 {
    text-transform: uppercase;
    > span { color: @main-color; }
  }
}



/* Welcome section */
.welcome {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://download.unsplash.com/photo-1425136738262-212551713a58);
}



/* Section center */
.section-center {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    left: 0;
    right: 0;

    .section-align {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      ul { 
        display: inline-block;
        position: relative;
        margin-bottom: 20px;

        li { padding: 0 5px; }

      }
    }
}



/*Section */
.section { 
    margin-top: 100px;
    text-align: center;

    .section-heading {
      margin-bottom: 20px;
      padding-bottom: 5px;
      text-transform: uppercase;
      border-bottom: 5px solid @white-color;

      > span {
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: -10px;
        border-bottom: 5px solid @main-color;
      }
    }
}



/* CTA section */
.cta {
  background: url(https://download.unsplash.com/photo-1425136738262-212551713a58);
  
  > .section-pattern-overlay {
    padding: 70px 0; // finally work :D
  }
}











