* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {}

.container {
    max-width: 1070px;
    margin: 0 auto;
    background-color: #ddd;
}

.head {
    width: 100%;
    height: 300px;
    border: 1px solid #fff;
    background-color: darkseagreen;
}

.logo {}

img {
    width: 100px;
    height: 100px;
}

.bpi h1 {
    text-align: center;

}

.menu {
    width: 100%;
    overflow: hidden;
    margin-left: 60px;
}

.menu ul {
    width: 100%;
}

.menu ul li {
    list-style: none;
    float: left;
    padding: 22px;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    color: #fff;
    background-color: #000;
    -webkit-transition: .5s;
    transition: .5s;
}

.menu ul li a:hover {
    color: red;
    background-color: #ddd;
}

.content {
    width: 100%;
    margin-top: 30px;
}

.left {
    width: 18%;
    background-color: limegreen;
    padding: 10px;
}

.center {
    width: 56%;
    overflow: hidden;
    padding: 10px;
}

.right {
    width: 17%;
    background-color: limegreen;
    float: right;
    padding: 10px;
}

.footer {}
